<a href="https://colab.research.google.com/github/Lucasllops/Airbnb-Rio_de_Janeiro/blob/main/Airbnb_Rio_de_Janeiro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Análise dos dados de hospedaria da empresa Airbnb para a cidade do Rio de Janeiro

A [Airbnb](https://www.airbnb.com.br/) é uma empresa americana fundada em agosto de 2008, que mudou a forma de se trabalhar com hospedarias, isso porque a empresa é uma das maiores no ramo de hospedagem, mesmo não possuindo nenhum imóvel. 

Com a Airbnb, pessoas do mundo inteiro podem de forma fácil, alugar casas ou quartos para se hospedarem durante aquela viagem de férias. 

A empresa opera online, e faz o papel de intermediaria entre pessoas que possuem imóveis ou quartos para alugar, e pessoas que querem alugar um lugar para passar o fim de semana ou uma temporada.

**Esse notebook tem como objetivo a análise dos dados de hospedaria para a cidade do Rio de Janeiro, e ver quais insights podem ser extraídos.**

## Obtenção dos dados

Todos os dados utilizados neste notebook foram retirados do site [inside Airbnb](http://insideairbnb.com/get-the-data).

Nessa análise o aquivo usado será o informado abaixo:

* `listings.csv` - *Summary information and metrics for listings in Rio de Janeiro*

In [1]:
#impota-se as bibliotecas que serão usadas.
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
#importar o arquivo que será utilizado

df = pd.read_csv('http://data.insideairbnb.com/brazil/rj/rio-de-janeiro/2022-03-25/visualisations/listings.csv')

## Análise dos dados

Aqui tentaremos inicialmente entender como os dados estão estruturados, se os dados são integros, com quantas variaveis vamos trabalhar, e se todas são significativas. Criaremos visualizações para tentar entender como os dados se comportam e faremos algumas transformações se necessário. Por fim tentarei extrair insigths desses dados.

### Dicionário das variáveis

* `id` - Código identificador do imóvel
* `name` - Nome do imóvel como anunciado no site
* `host_id` - Código identificador do proprietário do imóvel
* `host_name` - Nome do proprietário do imóvel
* `neighbourhood_group` - Coluna com todos os valores nulos
* `neighbourhood` - Bairro onde está localizado o imóvel
* `latitude` - Coordenada geográfica latitudinal do imóvel
* `longitude` - Coordenada geográfica longitudinal do imóvel
* `room_type` - Tipo de locação, se todo o imóvel ou apenas um quarto
* `price` - Preço do aluguel
* `minimum_nights` - Minimo de noites para se fazer a reserva
* `number_of_reviews` - Número de reviews para o imóvel
* `last_review` - Último review feito para o imóvel
* `reviews_per_month` - Quantidade de reviews feitos por mês
* `calculated_host_listings_count` - Quantidade de imóveis anunciados pelo proprietário
* `availability_365` - Disponibilidade dos imóveis
* `number_of_reviews_ltm` - Número de reviews do mês anterior
* `license` - Coluna com todo os dados nulos

In [8]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,581017381015650161,Que tal matar as saudades do carnaval no Rio?,424872017,Maria Jose Franco,NaN,Urca,-22.947812,-43.175590,Entire home/apt,1600,1,0,NaN,NaN,2,365,0,NaN
1,17878,"Very Nice 2Br in Copacabana w. balcony, fast WiFi",68997,Matthias,NaN,Copacabana,-22.965990,-43.179400,Entire home/apt,254,5,269,2022-03-24,1.89,1,307,9,NaN
2,53344884,Suntuoso apartamento em Copacabana posto 6,431412286,Carlos Henrique,NaN,Copacabana,-22.982990,-43.189040,Entire home/apt,2500,3,0,NaN,NaN,9,365,0,NaN
3,24480,"Nice and cozy near Ipanema Beach, w/ home office",99249,Goya,NaN,Ipanema,-22.984050,-43.201890,Entire home/apt,607,3,85,2018-02-14,0.61,1,194,0,NaN
4,558164148245438468,Apartamento frontal mar decorado por arquiteto,437903860,Lianna,NaN,Barra da Tijuca,-23.014541,-43.316481,Entire home/apt,1857,1,0,NaN,NaN,1,365,0,NaN

### **Q1. Quantos atributos (variáveis) e quantas entradas o nosso conjunto de dados possui? Quais os tipos das variáveis?**

In [20]:
#Usando shape para saber quantas linhas e quantas colunas o df possui.
print('Número de entradas (linhas): \t', df.shape[0])
print('Número de variáveis (colunas): \t', df.shape[1], '\n')

#Usando dtypes para saber os tipos de cada variável (coluna)
print(df.dtypes)

Número de entradas (linhas): 	 24722
Número de variáveis (colunas): 	 18

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group               float64
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
number_of_reviews_ltm               int64
license                           float64
dtype: object